// .form-container {
//     max-width: 400px;
//     margin: auto;
//     padding: 1rem;
//     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
//     border-radius: 8px;
//     background-color: #fff;
//   }
  
//   .full-width {
//     width: 100%;
//     margin-bottom: 1rem
  
//   }
  
//   .errors {
//   color: red;
//   font-size: 0.8rem;
//   }
  
//   button[mat-raised-button] {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 1rem;
//   width: 100%;
//   }

.login-container {
  max-width: 400px; // Set the maximum width of the form container
  margin: 0 auto; // Center the form on the page
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  direction: ltr; // Set text direction to left-to-right
  
  h2 {
    text-align: center; // Center the heading
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%; // Ensure form fields take full width of the form container
    margin-bottom: 20px; // Space between form fields
    text-align: center; // Center the heading

  }
  
  .actions {
    display: flex;
    justify-content: space-between; // Space between the buttons
    margin-top: 20px;
  }
  
  button {
    width: 48%; // Adjust button width
  }
}
