.content {
    padding: 20px;
    text-align: center;

    .greeting {
        font-size: 1.5em;
        font-weight: bold;
        color: #3f51b5;
        /* צבע מותאם אישית לברכת שלום */
        margin-top: 20px;
    }
}