<h2 mat-dialog-title>הודעה</h2>
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="'close'">סגור</button>
</mat-dialog-actions>
<!-- <mat-grid-list cols="1" rowHeight="auto">  <mat-grid-tile colspan="1">
    <h2 mat-dialog-title>הודעה</h2>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-dialog-content>{{ data.message }}</mat-dialog-content>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-dialog-actions>
      <button mat-button [mat-dialog-close]="'close'">סגור</button>
    </mat-dialog-actions>
  </mat-grid-tile>
</mat-grid-list> -->
